<%= form_for(@ikeja_patient) do |f| %>
  <% if @ikeja_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ikeja_patient.errors.count, "error") %> prohibited this ikeja_patient from being saved:</h2>

      <ul>
      <% @ikeja_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inline">
    <%= f.text_field :surname, placeholder: "Surname", class: "form-control" %>
    <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
    <%= f.text_field :middle_name, placeholder: "Middle Name", class: "form-control" %>
  </div> <br>

    <div class="form-inline">
    <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
    <%= f.phone_field :phone, placeholder: "Phone", class: "form-control" %>
    <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
  </div> <br>
  <div class="form-inline">
    <%= f.select :gender, options_for_select(Patient::Gender, @ikeja_patient.gender), {prompt: 'Gender'}, {class: "form-control"} %>
    <%= f.collection_select :occupation_id, Occupation.all, :id, :name, {prompt: "Occupation"}, {class: "form-control"} %>
    <%= f.collection_select :religion_id, Religion.all, :id, :name, {prompt: "Religion"}, {class: "form-control"} %>
  </div> <br>
  <div class="form-inline">
    <%= f.collection_select :state_id, State.all, :id, :name, {prompt: "State of Residence"}, {class: "form-control"} %>
    <%= f.collection_select :lga_id, Lga.all, :id, :name, {prompt: "Local Govt"}, {class: "form-control"} %>
    <%= f.collection_select :nationality_id, Nationality.all, :id, :name, {prompt: "Nationality"}, {class: "form-control"} %>
  </div> <br>
  <div class="form-inline">
    <%= f.text_field :next_of_kin, placeholder: "Next of Kin", class: "form-control" %>
    <%= f.text_field :next_of_kin_phone, placeholder: "Next of Kin's phone", class: "form-control" %>
    <%= f.collection_select :branch_id, Branch.all, :id, :name, {prompt: "Select Branch"}, {class: "form-control"} %>
  </div> <br>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
