<p id="notice"><%= notice %></p>

<h1>Listing Ikeja Patients</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>MR No.</th>
      <th>Registered?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ikeja_patients.each do |ikeja_patient| %>
      <tr>
        <td><%= ikeja_patient.fullName %></td>
        <td><%= ikeja_patient.mrn %></td>
        <td><%= ikeja_patient.registered %></td>
        <td><%= link_to 'Show', ikeja_patient %></td>
        <td><%= link_to 'Edit', edit_ikeja_patient_path(ikeja_patient) %></td>
        <td><%= link_to 'Destroy', ikeja_patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ikeja patient', new_ikeja_patient_path %>
