<p id="notice"><%= notice %></p>

<h1>Listing Branches</h1>

<table class="table table hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Prefix</th>
      <th>Suffix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branches.each do |branch| %>
      <tr>
        <td><%= branch.name %></td>
        <td><%= branch.address %></td>
        <td><%= branch.prefix %></td>
        <td><%= branch.suffix %></td>
        <td><%= link_to 'Show', branch %></td>
        <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
        <td><%= link_to 'Destroy', branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch', new_branch_path %>
