<%= form_for(@religion) do |f| %>
  <% if @religion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@religion.errors.count, "error") %> prohibited this religion from being saved:</h2>

      <ul>
      <% @religion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
