<%= form_for(@ikeja_service) do |f| %>
  <% if @ikeja_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ikeja_service.errors.count, "error") %> prohibited this ikeja_service from being saved:</h2>

      <ul>
      <% @ikeja_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.text_field :item, placeholder: "Item", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :amount, placeholder: "Amount", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Select Category"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
