<p id="notice"><%= notice %></p>

<h1>Listing Ikeja Services</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item</th>
      <th>Amount (=N=)</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ikeja_services.each do |ikeja_service| %>
      <tr>
        <td><%= ikeja_service.item %></td>
        <td><%= ikeja_service.amount %></td>
        <td><%= ikeja_service.category.name %></td>
        <td><%= link_to 'Show', ikeja_service %></td>
        <td><%= link_to 'Edit', edit_ikeja_service_path(ikeja_service) %></td>
        <td><%= link_to 'Destroy', ikeja_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ikeja service', new_ikeja_service_path %>
