<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lga.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @lga.state %>
</p>

<%= link_to 'Edit', edit_lga_path(@lga) %> |
<%= link_to 'Back', lgas_path %>
